.form-container {
  padding-right: 23px;
}

.btnsave {
  margin-top: 13px;
}

.add {
  color: #0b33d2;
  margin-right: 37%;
}

.inputs {
  width: 60%;
  color: rgb(36, 44, 159);
  margin-right: 25%
}

.submitButton {
  background-color: #c0c8da;
  width: 20%;
  color: #00000024;
  margin-right: 41%;
}

.inputs::placeholder {
  color: rgb(9, 142, 224);
}